.footer {
  background-color: #212529;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #28a745;
}

.footer .title {
  color: #28a745;
}

.privacy-links .list-unstyled {
  display: flex;
  padding: 0 5%;
  width: 100%;
  margin-top: 10%;
}
.privacy-links .list-unstyled li {
  padding: 0 1%;
}
.footer .privacy-links a {
  color: #fff;
}
