<div class="all-jobs container-fluid">
  <div class="job-cards">
    <a routerLink="/jobs/all-jobs">
      <div class="job-card">
        <p class="title">
          All Jobs
        </p>
      </div>
    </a>
    <a routerLink="/jobs/remoteok">
      <div class="job-card">
        <p class="title">
          Remote Ok
        </p>
      </div>
    </a>
    <a routerLink="/jobs/indeed">
      <div class="job-card">
        <p class="title">
          Indeed
        </p>
      </div>
    </a>
    <a routerLink="/jobs/linked-in">
      <div class="job-card">
        <p class="title">
          Linked In
          <!-- add amount of jobs  -->
        </p>
      </div>
    </a>
  </div>
  <!-- end job cards -->
</div>
