<div class="accept-terms-checkbox">
  <input
    id="policy-checkbox"
    type="checkbox"
    aria-label="Checkbox for accepting privacy policy and terms and conditions"
    [value]="props.checkIfUserAcceptedTerms()"
    (change)="handleCheckbox()"
  />
  <span class="accept-terms-checkbox--text">
    &nbsp; I agree to the
    <a
      routerLink="/terms-and-conditions"
      target="_blank"
      rel="noopener noreferrer"
      >Terms & Conditions</a
    >
    and
    <a routerLink="/privacy" target="_blank" rel="noopener noreferrer"
      >Privacy Policy</a
    >.
  </span>
</div>
