<div class="row">
  <div class="col">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input
            id="policy-checkbox"
            type="checkbox"
            aria-label="Checkbox for accepting privacy policy and terms and conditions"
            (value)="(hasAcceptedTerms)"
            (change)="handleCheckbox($event.target.value)"
          />
          <div>
            I acknowledge that I have read and agree to the
            <a
              routerLink="/terms-and-conditions"
              target="_blank"
              rel="noopener noreferrer"
              >Terms & Conditions</a
            >
            and
            <a routerLink="/privacy" target="_blank" rel="noopener noreferrer"
              >Privacy Policy</a
            >.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
