<div class="container">
  <div class="login__page">
    <div class="row">
      <div class="card col">
        <div class="login__card">
          <div class="card-block">
            <form name="userform" method="post" #formCtrl="ngForm">
              <h3>Login Below</h3>
              <app-accept-terms [selection]="selection"></app-accept-terms>
              <div *ngIf="selection === 'Email'">
                <app-email [hasAcceptedTerms]="hasAcceptedTerms"></app-email>
              </div>
              <div class="form-group">
                <div *ngIf="selection === 'Facebook'">
                  <button
                    type="buton"
                    class="btn btn-block"
                    (click)="signInWithFacebook()"
                    [disabled]="!hasAcceptedTerms"
                  >
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Login with Facebook
                  </button>
                </div>
                <div *ngIf="selection === 'Twitter'">
                  <button
                    type="button"
                    class="btn btn-block"
                    (click)="signInWithTwitter()"
                    [disabled]="!hasAcceptedTerms"
                  >
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Login with Twitter
                  </button>
                </div>
                <div *ngIf="selection === 'Github'">
                  <button
                    type="button"
                    class="btn btn-block"
                    (click)="signInWithGithub()"
                    [disabled]="!hasAcceptedTerms"
                  >
                    <i class="fa fa-github" aria-hidden="true"></i>
                    Login with Github
                  </button>
                </div>
                <div *ngIf="selection === 'Google'">
                  <button
                    type="button"
                    class="btn btn-block"
                    (click)="signInWithGoogle()"
                    [disabled]="!hasAcceptedTerms"
                  >
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Login with Google
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end card -->
</div>
<!-- end container -->
