<ul class="pagination justify-content-center">
  <li class="page-item">
    <button (click)="previousPage()" class="page-link" tabindex="-1">
      Previous
    </button>
  </li>
  <li [class]="getActivePageClass(1)">
    <span class="page-link" (click)="selectPage(1)">1</span>
  </li>
  <li [class]="getActivePageClass(2)">
    <span class="page-link" (click)="selectPage(2)">2</span>
  </li>
  <li [class]="getActivePageClass(3)">
    <span class="page-link" (click)="selectPage(3)">3</span>
  </li>
  <li [class]="getActivePageClass(4)">
    <span class="page-link" (click)="selectPage(4)">4</span>
  </li>
  <li [class]="getActivePageClass(5)">
    <span class="page-link" (click)="selectPage(5)">5</span>
  </li>
  <li [class]="getActivePageClass(6)">
    <span class="page-link" (click)="selectPage(6)">6</span>
  </li>
  <li [class]="getActivePageClass(7)">
    <span class="page-link" (click)="selectPage(7)">7</span>
  </li>
  <li [class]="getActivePageClass(8)">
    <span class="page-link" (click)="selectPage(8)">8</span>
  </li>
  <li [class]="getActivePageClass(9)">
    <span class="page-link" (click)="selectPage(9)">9</span>
  </li>
  <li [class]="getActivePageClass(10)">
    <span class="page-link" (click)="selectPage(10)">10</span>
  </li>
  <li class="page-item">
    <button (click)="nextPage()" class="page-link" tabindex="+1">
      Next
    </button>
  </li>
</ul>
