<button (click)="getJobsFromLinkedIn()">
  Get All from Linked In
</button>
<div *ngIf="positions && positions.length >= 1">
  {{ positions.length }} jobs available

  <button (click)="minimize()">Minimize</button>
  <div *ngIf="positions && positions.length >= 1">
    <div *ngFor="let position of positions">
      <a [href]="position.link" rel="noopener noreferrer" target="_blank">
        {{ position.title }}
      </a>
    </div>
  </div>
</div>
<div class="container linked-in-page">
  <div class="row">
    <app-linked-in-form></app-linked-in-form>
  </div>
</div>
