<div class="container linked-in__page-container">
  <app-linked-in-form
    [searchJobsFromLinkedIn]="searchJobsFromLinkedIn"
  ></app-linked-in-form>

  <div class="row">
    <div class="col-12">
      <div
        *ngIf="isLoading"
        class="spinner-border text-success linked-in__spinner"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="positions && positions.length >= 1">
        <div *ngFor="let position of positions">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <a [href]="position.link" class="primary-font">
                  {{ position.title }}
                </a>
                <app-save-job [position]="position"></app-save-job>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
