<div class="container-fluid saved-jobs-page">
  <div class="left-panel">
    <div class="card">
      <div class="card-body">{{ jobList && jobList.length }} jobs saved</div>
    </div>
  </div>
  <div class="results">
    <div *ngIf="jobList && jobList.length >= 1">
      <ul>
        <li *ngFor="let job of jobList">
          <div class="card">
            <div (click)="confirmDelete(job.id)">
              <span
                ><i class="fa fa-heart float-right secondary-font"></i
              ></span>
              <span
                *ngIf="confirmedDelete && jobId === job.id"
                class="btn btn-outline-danger confirm-delete"
                (click)="removeJob()"
              >
                Confirm Delete
              </span>
            </div>
            <a [href]="job.link">
              <div class="card-title">
                {{ job.title }}
              </div>
              <div class="card-subtitle">
                {{ job.salary }}
              </div>
            </a>
            <div class="card-body">
              <ul *ngIf="job.requirements && job.requirements.length >= 1">
                <li *ngFor="let requirement of job.requirements">
                  <div class="card-text">
                    {{ requirement }}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div></div>
