<div class="container remoteok-__page-container">
  <div class="row">
    <h2>Search Remote OK for jobs</h2>
  </div>

  <app-remoteok-form></app-remoteok-form>

  <div *ngIf="positions && positions.length >= 1">
    <!-- <div *ngFor="let position of positions"> 
<app-indeed-result [position]="position"></app-indeed-result> 
</div> -->
  </div>

  <div class="row">
    <div class="col-12">
      <!-- <app-indeed-pagination></app-indeed-pagination> -->
    </div>
  </div>

  <button (click)="getJobsFromRemoteok()">
    Get All Jobs from Remote OK
  </button>

  <br />
  <div *ngIf="positions[0]">
    <button (click)="minimize()">Minimize</button>

    <a href="https://remoteok.io/" target="_blank" rel="noopener noreferrer"
      >Check out jobs on Remote OK</a
    >
    <br />
    <strong>
      {{ siteName }}
    </strong>
    <em>{{ description }}</em>
    <ul>
      <strong>Positions </strong>

      {{
        positions[0].length
      }}
      positions available
      <button (click)="toggleShowItem('Positions')">
        Show {{ showPositions ? " Less" : " More" }}
      </button>
      <div *ngIf="showPositions">
        <li *ngFor="let position of positions[0]; index as i; first as isFirst">
          <a
            href="{{ position.link }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ position.title }}
          </a>
        </li>
      </div>
    </ul>

    <ul>
      <strong>Tags </strong>

      {{
        tags[0].length
      }}
      tags available
      <button (click)="toggleShowItem('Tags')">
        Show {{ showTags ? " Less" : " More" }}
      </button>
      <div *ngIf="showTags">
        <li *ngFor="let tag of tags[0]; index as i; first as isFirst">
          {{ tag }}
        </li>
      </div>
    </ul>
    <ul>
      <strong>Locations </strong>
      {{
        locations[0].length
      }}
      locations available
      <button (click)="toggleShowItem('Locations')">
        Show {{ showLocations ? " Less" : " More" }}
      </button>
      <div *ngIf="showLocations">
        <li *ngFor="let location of locations[0]; index as i; first as isFirst">
          {{ location }}
        </li>
      </div>
    </ul>
    <ul>
      <strong>Categories</strong>
      {{
        categories[0].length
      }}
      categories available
      <button (click)="toggleShowItem('Categories')">
        Show {{ showCategories ? " Less" : " More" }}
      </button>
      <div *ngIf="showCategories">
        <li
          *ngFor="let category of categories[0]; index as i; first as isFirst"
        >
          {{ category }}
        </li>
      </div>
    </ul>
  </div>
</div>
