<div class="container-fluid remoteok__page-container">
  <div class="row">
    <h2>Search Remote OK for jobs</h2>
  </div>
  <app-remoteok-form [isLoading]="isLoading"></app-remoteok-form>

  <div *ngIf="positions.length >= 1">
    <div class="row">
      <h3 class="text-capitalize site-name">
        {{ siteName }}
      </h3>
    </div>
    <div class="row">
      <div class="site-description">
        <em>{{ description }}</em>
      </div>
    </div>
    <div class="results-grid-container">
      <div>
        <div class="card">
          <div class="card-title">
            <strong class="result-heading primary-font">Positions </strong>
          </div>

          <div class="card-subtitle">
            (
            {{ positions.length }}
            results )
          </div>
          <button
            (click)="toggleShowItem('Positions')"
            class="btn btn-outline show-more-btn"
          >
            <div *ngIf="showPositions">
              <i class="fa fa-chevron-up"></i>
            </div>
            <div *ngIf="!showPositions">
              <i class="fa fa-chevron-down"></i>
            </div>
          </button>
        </div>

        <ul class="grid-item results-grid-container--positions">
          <div *ngIf="showPositions">
            <li *ngFor="let position of positions">
              <div class="card">
                <app-save-job [position]="position"></app-save-job>

                <a
                  href="{{ position.link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <div class="card-title result-item">
                    {{ position.title }}
                  </div>
                </a>
              </div>
            </li>
          </div>
        </ul>
      </div>
      <div>
        <div class="card">
          <div class="card-title">
            <strong class="result-heading primary-font">Tags </strong>
          </div>
          <div class="card-subtitle">
            (
            {{ tags.length }}
            results )
          </div>

          <button
            (click)="toggleShowItem('Tags')"
            class="btn btn-outline show-more-btn"
          >
            <div *ngIf="showTags">
              <i class="fa fa-chevron-up"></i>
            </div>
            <div *ngIf="!showTags">
              <i class="fa fa-chevron-down"></i>
            </div>
          </button>
        </div>
        <ul class="grid-item results-grid-container--tags">
          <div *ngIf="showTags">
            <li *ngFor="let tag of tags">
              <div class="card">
                <div class="card-title result-item">
                  {{ tag }}
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
      <div>
        <div class="card">
          <div class="card-title">
            <strong class="result-heading primary-font">Categories</strong>
          </div>
          <div class="card-subtitle">
            (
            {{ categories.length }}
            results )
          </div>
          <button
            (click)="toggleShowItem('Categories')"
            class="btn btn-outline show-more-btn"
          >
            <div *ngIf="showCategories">
              <i class="fa fa-chevron-up"></i>
            </div>
            <div *ngIf="!showCategories">
              <i class="fa fa-chevron-down"></i>
            </div>
          </button>
        </div>
        <ul class="grid-item results-grid-container--categories">
          <div *ngIf="showCategories">
            <li *ngFor="let category of categories">
              <div class="card">
                <div class="card-title result-item">
                  {{ category }}
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- <app-indeed-pagination></app-indeed-pagination> -->
    </div>
  </div>
</div>
