<div class="container">
  <input
    type="search"
    placeholder="Search..."
    (input)="handleSearch($event.target.value)"
    class="search-bar"
  />
  <app-search-bar-filter> </app-search-bar-filter>
  <app-search-bar-result></app-search-bar-result>
  <ul>
    <div *ngIf="results['positionsResults'].length >= 1">
      <li *ngFor="let position of results['positionsResults']">
        {{ position.title }}
      </li>
    </div>
  </ul>

  <!-- <ul>
    <li *ngFor="let result of results; index as i; first as isFirst">
      {{ result }}
    </li>
  </ul> -->
</div>
