<div class="container">
  <div class="row">
    <input
      type="search"
      placeholder="Search..."
      (input)="handleSearch($event.target.value)"
      class="search-bar"
    />
  </div>

  <app-search-bar-filter> </app-search-bar-filter>

  <ul>
    <div *ngIf="results['positionsResults'].length >= 1">
      Job Titles
      <li *ngFor="let position of results['positionsResults']">
        <a [href]="position.link">
          {{ position.title }}
          <ul *ngIf="filters['tags']">
            <li *ngFor="let tag of position.tags">
              {{ tag }}
            </li>
          </ul>
        </a>
      </li>
    </div>
    <div *ngIf="results['locationsResults'].length >= 1">
      Locations
      <li *ngFor="let location of results['locationsResults']">
        <a [href]="location.link">
          {{ location.location }} - {{ location.title }}
        </a>
      </li>
    </div>
    <div *ngIf="results['categoriesResults'].length >= 1">
      <li *ngFor="let category of results['categoriesResults']">
        {{ category }}
      </li>
    </div>
    <div *ngIf="results['tagsResults'].length >= 1">
      <li *ngFor="let result of results['tagsResults']">
        <a [href]="result.link">
          <ul>
            <li *ngFor="let tag of result.tags">
              {{ tag }}
            </li>
          </ul>
        </a>
      </li>
    </div>
    <div *ngIf="results['websitesResults'].length >= 1">
      <li *ngFor="let website of results['websitesResults']">
        {{ website }}
      </li>
    </div>
  </ul>
</div>
