<div class="all-jobs container-fluid">
  <div class="job-cards">
    <div class="job-card">
      <a routerLink="/jobs/all-jobs">
        <p class="title">
          All Jobs
        </p>
      </a>
    </div>
    <div class="job-card">
      <a routerLink="/jobs/remoteok">
        <p class="title">
          Remote Ok
        </p>
      </a>
    </div>
    <div class="job-card">
      <a routerLink="/jobs/indeed">
        <p class="title">
          Indeed
        </p>
      </a>
    </div>

    <div class="job-card">
      <a routerLink="/jobs/linked-in">
        <p class="title">
          Linked In
          <!-- add amount of jobs  -->
        </p>
      </a>
    </div>
  </div>
  <!-- end job cards -->
</div>
