<div class="all-jobs container">
  <div class="row">
    <div class="col">
      <a routerLink="/jobs/all-jobs"> Get All</a>
    </div>
    <div class="col">
      <a routerLink="/jobs/remoteok"> Get Remote Ok jobs</a>
    </div>
    <!-- end  row -->
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/jobs/indeed"> Get Indeed jobs</a>
    </div>
    <div class="col">
      <a routerLink="/jobs/linked-in"> Get Linked In</a>
    </div>
  </div>

  <!-- end all-jobs-container -->
</div>
<!-- end container -->
