<div class="skipLink">
  <a
    [href]="skipLinkPath"
    title="Skip to Main Content"
    aria-label="Skip to Main Content"
  >
    Skip to Main Content
  </a>
</div>
<nav class="navbar navbar-expand-sm border-bottom justify-content-between">
  <a
    class="navbar-brand"
    routerLink="/"
    title="HackerHunter"
    aria-label="HackerHunter"
  >
    HackerHunter
  </a>
  <div class="navbar-nav">
    <a
      class="nav-item nav-link active"
      routerLink="/"
      title="Home"
      aria-label="Home"
    >
      Home
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/jobs"
      title="jobs"
      aria-label="jobs"
    >
      Jobs
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/saved-jobs"
      title="saved-jobs"
      aria-label="saved-jobs"
    >
      Saved Jobs <i class="fa fa-heart"></i>
    </a>

    <div>
      <button (click)="toggleShowAccount()" class="nav-item nav-link">
        Account
      </button>
      <div class="auth" *ngIf="showAccount">
        <p *ngIf="!authService.isLoggedIn()" class="nav-item nav-link">
          <a
            class="btn btn-lg btn-primary"
            routerLink="/login"
            role="button"
            (click)="toggleShowAccount()"
            >Login</a
          >
        </p>
        <p *ngIf="authService.isLoggedIn()">
          <a
            class="btn btn-lg btn-primary"
            href=""
            role="button"
            (click)="authService.logout()"
            >Logout</a
          >
        </p>
      </div>
    </div>
  </div>
</nav>
