<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <label for="login method"> </label>
      <button
        class="btn btn-outline-primary"
        id="login-selection-dropdown"
        ngbDropdownToggle
        (value)="getValue()"
      >
        Choose your login method
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <option
          ngbDropdownItem
          (click)="login.handleLoginMethodSelection($event.target.value)"
          (value)="getValue()"
        >
          <i class="fa fa-email" aria-hidden="true"></i>

          Email
        </option>
        <option
          ngbDropdownItem
          (click)="login.handleLoginMethodSelection($event.target.value)"
          (value)="getValue()"
        >
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebook
        </option>
        <option
          ngbDropdownItem
          (click)="login.handleLoginMethodSelection($event.target.value)"
          (value)="getValue()"
          >Twitter</option
        >
        <option
          ngbDropdownItem
          (click)="login.handleLoginMethodSelection($event.target.value)"
          (value)="getValue()"
          >Github</option
        >
        <option
          ngbDropdownItem
          (click)="login.handleLoginMethodSelection($event.target.value)"
          (value)="getValue()"
          >Google</option
        >
      </div>
    </div>
  </div>
</div>
